.allAbout {
  background-color: #F5F5F5;
}

.ellips-about {
    display: flex;
    justify-content: left;
    gap: 15px;
    font-size: 40px;
    font-family: Bell MT;
  }
  
  /* .logo-about {
    width: 50px;
    height: 50px;
  } */


  .about-container {
    background-color: #F5F5F5;;
}

.sent_bySimonAbout {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 3%;
    
}
  
  
  
  .vernagir-about {
    
    font-size: 20px;
    color: #2C2929;
    margin-top: 1px;
    font-family: Bell MT;
  }
  
  .BySimon-about {
    font-family: bell MT;
    text-align: left;
    font-size: 15px;
    color: #2C2929;
    padding: 20px;
  }

.menu {
font-family: Century Gothic;
weight: 400;
font-size: 20px;
line-height: 32.52px;
letter-spacing: 7%;

}


.img-about {
margin-left: 15%;
margin-right: 10%;
margin-top: 8%;
height: 70vh;
}


.text_about {
    font-family: Century Gothic;
    font-size: 15px;
    letter-spacing: 7%;
    margin: 4%  25%;
line-height: 30px;

}


