.allStore {
    background-color:#F5F5F5 ;
}



.store-container {
    background-color: #F5F5F5;;
}

.sent_bySimonStore {
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 3%;
   
}




h1 {
    color:  #2C2929;
    font-family: Arial;
    text-align: center;
    margin-top: 5%;
}

.store_container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;

}

.elem-type {
    padding: 10px 10px;
    align-items: center;
}
.elem-price {
    padding: 10px;
    align-items: center;
}
