
.products-container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.box {
   /* align-items: center; */
    font-family: Arial;
    font-size: 30px;
    /* padding: 80px 50px; */
    margin-bottom: 6%;
}

.box {
    display: flex;
    flex-direction:column; 
    align-items: center;
    }



.wine-bottle {
    height: 608px;
    width: 510px;
    /* padding: 10px; */
    margin-top: 3px;
}

 .elem-type {
    margin-top: 3px;
    padding: 10px 10px; 
    align-items: center;
   
    line-height: 20px;
  
}
.elem-price {
    padding: 10px;
    align-items: center;
}

